<% include ./partials/header %>

<div class="container" id="about">
	<h1>About:</h1>
	<p>
	As a part of Smart India Hackathon'17 six young technocrats teamed up with the motive of creating a more transparent system in the North Eastern Region. The young students with the aim of contributing towards Digital India made a  Web Portal and an android application for the Ministry of Development of North Eastern Region .
	The North East Portal bridges down the gap between public and the government and provides boost to the development of North Eastern Region.The young technocrats from Maharishi Markandeshwar Engineering College are:
	</p>

	<p style="text-align: center">Mayank Maheshwari</p>
	<p style="text-align: center">MD. Rakib Hasan</p>
	<p style="text-align: center">Divesh Kumar Soni</p>
	<p style="text-align: center">Luv Gulati</p>
	<p style="text-align: center">Utkarsh Jain</p>
	<p style="text-align: center">Pooja Kumari</p>

	<p>
	Created during The Grand Finale of Smart India Hackathon'17 and providing it to the government for free the young  technocrats under the banner of 'Stark' contributed towards Worlds biggest Digital Movement.
	</p>
</div>	

<% include ./partials/footer %>
 