<% include ./partials/header %>
		

<div class="container" id="contact">

	<h1 class="black">Thank you for using TheNorthEastPortal</h1>
	<h4>We're Here to Help!</h4>

	<a class="greenish" href="http://facebook.com/The-North-East-Portal-1531074730268509">Contact Us on Facebook</a>
	<a class="greenish" href="http://www.twitter.com/The_NE_Portal">Contact Us on Twitter</a>

	<div>
		<p id="fot" align="center">We are Friendy and able to chat. Reach out to us anytime and we will be happy to answer to your questions.</p>
		<p align="center">Our team is always available to provide you with better usage of the portal.</p>
		<p align="center">Feel free to reach out to us in case you face any problem in accessing the portal. We would be delighted to help you out. </p>
		
	</div>

</div>

<% include ./partials/footer %>




























