<% include ../partials/header %>

<div class="container ministry-container">	


	<div class="page-header ministry-header">
		<h4>Assam</h4>
		<h5>THE LAND OF RED RIVERS & BLUE HILLS</h5>
	</div>
				

	<div >
		<div class="row img-container">
			<div id="ministry_image">
				<img src="http://d27k8xmh3cuzik.cloudfront.net/wp-content/uploads/2018/02/assam-tourist-places.jpg" alt="Assam" class="img-responsive">	
			</div>
		</div>
	</div>	

	
	

	<div class="para">
		<p>
			Assam (English: /əˈsæm/, /-sɑːm/ About this sound listen ) is a state in Northeast India, situated south of the eastern Himalayas along the Brahmaputra and Barak River valleys. Assam covers an area of 78,438 km2 (30,285 sq mi). The state is bordered by Bhutan and the state of Arunachal Pradesh to the north; Nagaland and Manipur to the east; Meghalaya, Tripura, Mizoram and Bangladesh to the south; and West Bengal to the west via the Siliguri Corridor, a 22 kilometres (14 mi) strip of land that connects the state to the rest of India.

			The indigenous Assamese people traditionally include ethnic groups like Assamese Brahmins (including Ganaks), Ahom, Koch Rajbongshi, Sonowal Kacharis, Rabha, Karbi, Chutias, Kalitas, Keot (Kaibarta), Tiwa, Mech Kachari, Thengal-Kacharis, Sarania Kacharis, Dimasa, Tea Tribes, Hajong , Tai Phake and other Tai groups, indigenous ethnic groups of other neighbouring North-East states, Deoris, Doms/Nadiyals, Assamese Muslims (particularly Goria, Moria, Deshi communities), Assamese Sikhs and Assamese Christians speaking Assamese or any other tribal dialect of Assam as their mother tongue.

			Assam is known for Assam tea and Assam silk. The state has conserved the one-horned Indian rhinoceros from near extinction, along with the wild water buffalo, pygmy hog, tiger and various species of Asiatic birds, and provides one of the last wild habitats for the Asian elephant. The Assamese economy is aided by wildlife tourism to Kaziranga National Park and Manas National Park, which are World Heritage Sites. Sal tree forests are found in the state which, as a result of abundant rainfall, look green all year round. Assam receives more rainfall than most parts of India; this rain feeds the Brahmaputra River, whose tributaries and oxbow lakes provide the region with a hydro-geomorphic environment.
		</p>	
	</div>

</div>

	

<% include ../partials/footer %>