<% include ../partials/header %>

<div class="container ministry-container">	


	<div class="page-header ministry-header">
		<h4>MANIPUR</h4>
		<h5>THE LAND OF RED RIVERS & BLUE HILLS</h5>
	</div>
				

	<div >
		<div class="row img-container">
			<div id="ministry_image">
				<img src="http://manipur.gov.in/wp-content/uploads/2012/12/assembly_imh.jpg" alt="MANIPUR" class="img-responsive">	
			</div>
		</div>
	</div>	

	
	

	<div class="para">
		<p>
			Manipur is a state in northeastern India, with the city of Imphal as its capital. It is bounded by Nagaland to the north, Mizoram to the south, and Assam to the west; Burma (Myanmar) lies to its east. The state covers an area of 22,327 square kilometres (8,621 sq mi) and has a population of almost 3 million, including the Meitei, Kuki, Naga, and Pangal peoples, who speak Sino-Tibetan languages. Manipur has been at the crossroads of Asian economic and cultural exchange for more than 2,500 years. It has long connected the Indian subcontinent to Southeast Asia, enabling migration of people, cultures and religions. During the British Rule, the Kingdom of Manipur was one of the princely states. Between 1917 and 1939, the people of Manipur pressed for their rights against the British Rule. By the late 1930s, the princely state of Manipur negotiated with the British administration its preference to be part of India, rather than Burma.page needed These negotiations were cut short with the outbreak of World War II. On 21 September 1949, Maharaja Budhachandra signed a Treaty of Accession merging the kingdom into India. This merger is disputed by groups in Manipur as having been completed without consensus and under duress. The dispute and differing visions for the future has resulted in a 50-year insurgency in the state for independence from India, as well as in violence between ethnic groups in the state. Over 2010–2013, the militant insurgency was responsible for the violent death of about 1 civilian per 100,000 people, each year. The world average annual death rate from intentional violence has been 7.9 per 100,000 people. The climate of Manipur is largely influenced by the topography of this hilly region. Lying 790 meters above sea level, Manipur is wedged among hills on all sides. This northeastern corner of India enjoys a generally amiable climate, though the winters can be a chilly. The maximum temperature in the summer months is 32 °C (90 °F). In winter the temperature often falls below 0 °C (32 °F), bringing frost. Snow sometimes falls in hilly regions due to the Western Disturbance.[citation needed The coldest month is January, and the warmest July . The state is drenched in rains from May until mid-October. It receives an average annual rainfall of 1,467.5 millimetres (57.78 in). Rain distribution varies from 933 millimetres (36.7 in) in Imphal to 2,593 millimetres (102.1 in) in Tamenglong. The precipitation ranges from light drizzle to heavy downpour. The normal rainfall of Manipur enriches the soil and helps in agriculture and irrigation. The South Westerly Monsoon picks up moisture from the Bay of Bengal and heads toward Manipur, hits the eastern Himalaya ranges and produces a massive amount of rain. Natural vegetation occupies an area of about 14,365 square kilometres (5,546 sq mi), nearly 64% of the total geographical area of the state, and consists of short and tall grasses, reeds and bamboos, and trees. Broadly, there are four types of forests: Tropical Semi-evergreen, Dry Temperate Forest, Sub-Tropical Pine, and Tropical Moist Deciduous. There are forests of teak, pine, oak, uningthou, leihao, bamboo, and cane. Rubber, tea, coffee, orange, and cardamom are grown in hill areas. Rice, a staple food for Manipuris, and other cash crops make up the main vegetation cover in the valley.
		</p>	
	</div>

</div>

	

<% include ../partials/footer %>