<% include ../partials/header %>

<div class="container ministry-container">	


	<div class="page-header ministry-header">
		<h4>Meghalaya</h4>
		<h5>THE LAND OF CLOUDS</h5>
	</div>
				

	<div >
		<div class="row img-container">
			<div id="ministry_image">
				<img src="http://weddingaffair.co.in/wp-content/uploads/2018/02/meghalaya-Image-courtesy-Set-my-trip.jpg" class="img-responsive">	
			</div>
		</div>
	</div>	

	
	

	<div class="para">
		<p>
			Meghalaya (UK: /meɪˈɡɑːləjə/, US: /ˌmeɪɡəˈleɪə/) is a state in Northeast India. The name means "the abode of clouds" in Sanskrit. The population of Meghalaya as of 2016 is estimated to be 3,211,474. Meghalaya covers an area of approximately 22,430 square kilometers, with a length to breadth ratio of about 3:1.

			The state is bounded to the south by the Bangladeshi divisions of Mymensingh and Sylhet, to the west by the Bangladeshi division of Rangpur, and to the north and east by India's State of Assam. The capital of Meghalaya is Shillong. During the British rule of India, the British imperial authorities nicknamed it the "Scotland of the East". Meghalaya was previously part of Assam, but on 21 January 1972, the districts of Khasi, Garo and Jaintia hills became the new state of Meghalaya. English is the official language of Meghalaya. The other principal languages spoken include Khasi, Garo, Pnar, Biate Hajong and Bengali. Unlike many Indian states, Meghalaya has historically followed a matrilineal system where the lineage and inheritance are traced through women; the youngest daughter inherits all wealth and she also takes care of her parents.

			The state is the wettest region of India, recording an average of 12,000 mm (470 in) of rain a year. About 70% of the state is forested. The Meghalaya subtropical forests ecoregion encompasses the state; its mountain forests are distinct from the lowland tropical forests to the north and south. The forests are notable for their biodiversity of mammals, birds, and plants.

			Meghalaya has predominantly an agrarian economy with a significant commercial forestry industry. The important crops are potatoes, rice, maize, pineapples, bananas, papayas, spices, etc. The service sector is made up of real estate and insurance companies. Meghalaya's gross state domestic product for 2012 was estimated at ₹16,173 crore (US$2.4 billion) in current prices. The state is geologically rich in minerals, but it has no significant industries. The state has about 1,170 km (730 mi) of national highways. It is also a major logistical center for trade with Bangladesh.
		</p>	
	</div>

</div>

	

<% include ../partials/footer %>