<% include ../partials/header %>

<div class="container ministry-container">	


	<div class="page-header ministry-header">
		<h4>Mizoram</h4>
		<h5>THE LAND OF ROLLING HILLS</h5>
	</div>
				

	<div >
		<div class="row img-container">
			<div id="ministry_image">
				<img src="http://4.bp.blogspot.com/--hqp-AbwAfs/UfqwYKgpUVI/AAAAAAAAH44/RUwNIAEKF60/s1600/mizoram+1.jpg" class="img-responsive">	
			</div>
		</div>
	</div>	

	
	

	<div class="para">
		<p>
			Mizoram (English: /mɪˈzɔːrəm/ (About this sound listen)) is a state in Northeast India, with Aizawl as its capital city. The name is derived from "Mizo", the name of the native inhabitants, and "Ram", which means land, and thus Mizoram means "land of the Mizos".[4] Within the northeast region, it is the southernmost landlocked state, sharing borders with three of the Seven Sister States, namely Tripura, Assam and Manipur. The state also shares a 722 kilometre border with the neighbouring countries of Bangladesh and Myanmar.[5]

			Like several other northeastern states of India, Mizoram was previously part of Assam until 1972, when it was carved out as a Union Territory. It became the 23rd state of India, a step above Union Territory, on 20 February 1987, with Fifty-Third Amendment of Indian Constitution, 1986.[6]

			Mizoram's population was 1,091,014, according to a 2011 census. It is the 2nd least populous state in the country.[7] Mizoram covers an area of approximately 21,087 square kilometres.[8] About 91% of the state is forested.[9]

			About 95% of the current population is of diverse tribal origins who settled in the state, mostly from Southeast Asia, over waves of migration starting about the 16th century but mainly in the 18th century.[10] This is the highest concentration of tribal people among all states of India, and they are currently protected under Indian constitution as a Scheduled Tribe.[11] Mizoram is one of three states of India with a Christian majority (87%).[12] Its people belong to various denominations, mostly Presbyterian in the north and Baptists in the south.

			Mizoram is a highly literate agrarian economy, but suffers from slash-and-burn jhum, or shifting cultivation, and poor crop yields.[13] In recent years, the jhum farming practices are steadily being replaced with a significant horticulture and bamboo products industry.[14][15] The state's gross state domestic product for 2012 was estimated at ₹6,991 crore (US$1.0 billion).[8] About 20% of Mizoram's population lives below poverty line, with 35% rural poverty.[16] The state has about 871 kilometres of national highways, with NH-54 and NH-150 connecting it to Assam and Manipur respectively. It is also a growing transit point for trade with Myanmar and Bangladesh.
		</p>	
	</div>

</div>

	

<% include ../partials/footer %>