<% include ../partials/header %>

<div class="container ministry-container">	


	<div class="page-header ministry-header">
		<h4>Nagaland</h4>
		<h5>THE LAND OF FESTIVALS</h5>
	</div>
				

	<div >
		<div class="row img-container">
			<div id="ministry_image">
				<img src="http://www.incredible-northeastindia.com/images/nagaland-head.jpg" class="img-responsive">	
			</div>
		</div>
	</div>	

	
	

	<div class="para">
		<p>
			Nagaland /ˈnɑːɡəlænd/ is a state in Northeast India. It borders the state of Assam to the west, Arunachal Pradesh and Assam to the north, Myanmar to the east, and Manipur to the south. The state capital is Kohima, and the largest city is Dimapur. It has an area of 16,579 square kilometres (6,401 sq mi) with a population of 1,980,602 per the 2011 Census of India, making it one of the smallest states of India.

			The state is inhabited by 16 tribes — Angami, Ao, Chakhesang, Chang, Kachari, Khiamniungan, Konyak, Kuki, Lotha, Phom, Pochury, Rengma, Sangtam, Sumi, Yimchunger, and Zeme-Liangmai (Zeliang) Each tribe is unique in character with its own distinct customs, language and dress.

			Two threads common to all are language and religion. English is the official language, the language of education, and spoken by most residents. Nagaland is one of three states in India where the population is mostly Christian.

			Nagaland became the 16th state of India on 1 December 1963. Agriculture is the most important economic activity and the principal crops include rice, corn, millets, pulses, tobacco, oilseeds, sugarcane, potatoes, and fibres. Other significant economic activity includes forestry, tourism, insurance, real estate, and miscellaneous cottage industries.

			The state has experienced insurgency, as well as inter-ethnic conflict since the 1950s. The violence and insecurity have long limited Nagaland's economic development, because it had to commit its scarce resources to law, order, and security. In the last 15 years, the state has seen less violence and annual economic growth rates nearing 10% on a compounded basis, one of the fastest in the region.

			The state is mostly mountainous except those areas bordering Assam valley which comprises 9% of the total area of the state. Mount Saramati is the highest peak at 3,840 metres and its range forms a natural barrier between Nagaland and Burma. It lies between the parallels of 98 and 96 degrees east longitude and 26.6 and 27.4 degrees latitude north. The state is home to a rich variety of flora and fauna.
		</p>	
	</div>

</div>

	

<% include ../partials/footer %>