<% include ../partials/header %>

<div class="container ministry-container">	


	<div class="page-header ministry-header">
		<h4>Sikkim</h4>
		<h5>THE LAND OF PEACE & TRANQUILITY</h5>
	</div>
				

	<div >
		<div class="row img-container">
			<div id="ministry_image">
				<img src="https://images.thrillophilia.com/image/upload/s--bepgWgB5--/c_fill,f_auto,fl_strip_profile,h_800,q_auto,w_1300/v1/images/photos/000/027/223/original/1513345750_Silk-Route-Sikkim-1024x486.jpg.jpg?1513345750" class="img-responsive">	
			</div>
		</div>
	</div>	

	
	

	<div class="para">
		<p>
			Sikkim (/ˈsɪkɪm/) is a state in Northeast India. It borders the Tibet Autonomous Region of China in the north and northeast, Bhutan in the east, Nepal in the west and the Indian state of West Bengal in the south. Sikkim is also located close to India's Siliguri Corridor near Bangladesh. Sikkim is the least populous and second smallest among the Indian states. A part of the Eastern Himalaya, Sikkim is notable for its biodiversity, including alpine and subtropical climates, as well as being a host to Kanchenjunga, the highest peak in India and third highest on Earth. Sikkim's capital and largest city is Gangtok. Almost 35% of the state is covered by the Khangchendzonga National Park.
			The Kingdom of Sikkim was founded on the Silk Road by the Namgyal dynasty in the 17th century. It was ruled by a Buddhist priest-king known as the Chogyal. It became a princely state of British India in 1890. After 1947, Sikkim continued its protectorate status with the republic of India. It enjoyed the highest literacy rate and per capita income among Himalayan states. In 1975, the Indian military deposed the Sikkimese monarchy. A referendum in 1975 led to Sikkim joining India as its 22nd state.
			Modern Sikkim is a multiethnic and multilingual Indian state. Sikkim has 11 official languages: Nepali, Sikkimese, Lepcha, Tamang, Limbu, Newari, Rai, Gurung, Magar, Sunwar and English.English is taught in schools and used in government documents. The predominant religions are Hinduism and Vajrayana Buddhism. Sikkim's economy is largely dependent on agriculture and tourism, and as of 2014 the state had the third-smallest GDP among Indian states, although it is also among the fastest-growing.

			Sikkim accounts for the largest share of cardamom production in India, and is the world's second largest producer of the spice after Guatemala. Sikkim achieved its ambition to convert its agriculture to fully organic over the interval 2003 to 2016, the first state in India to achieve this distinction.  It is also among India's most environmentally conscious states, having banned plastic water bottles and styrofoam products.
		</p>	
	</div>

</div>

	

<% include ../partials/footer %>